body{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    background-color: rgb(26, 23, 23);
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
h1{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
h2,h4{
    color: white;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: rgb(86, 241, 86);
}
.purple{
    background-color: rgb(255, 134, 255);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}
.docflash{
    background-color: red;
}
.headings{
    display: flex;
}
.heading-1{
    margin-left: 300px;
}
.heading-2{
    margin-left: 100px;
}